.app {
  background-image: url('../images/blue.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
  min-height: 100vh;
  min-width: 70vh;
  margin: 0px auto;
  padding-bottom: 10px;
  display: block;
}




.rain {
  background-image: url('../images/rain.jpg');
}
.rain1 {
  background-image: url('../images/rain1.jpg');
}
.rain2 {
  background-image: url('../images/rain2.jpg');
}
.rain3 {
  background-image: url('../images/rain3.jpg');
}
.rain4 {
  background-image: url('../images/rain4.jpg');
}
.rain5 {
  background-image: url('../images/rain5.jpg');
}
.rain6 {
  background-image: url('../images/rain6.jpg');
}
.rain7 {
  background-image: url('../images/rain7.jpg');
}
.rain8 {
  background-image: url('../images/rain8.jpg');
}
.rain9 {
  background-image: url('../images/rain9.jpg');
}
.rain10 {
  background-image: url('../images/rain10.jpg');
}

.clouds {
  background-image: url('../images/clouds.jpg');
}
.clouds1 {
  background-image: url('../images/clouds1.jpg');
}
.clouds2 {
  background-image: url('../images/clouds2.jpg');
}
.clouds3 {
  background-image: url('../images/clouds3.jpg');
}
.clouds4 {
  background-image: url('../images/clouds4.jpg');
}
.clouds5 {
  background-image: url('../images/clouds5.jpg');
}

.clear {
  background-image: url('../images/clear.jpg');
}
.clear1 {
  background-image: url('../images/clear1.jpg');
}
.clear2 {
  background-image: url('../images/clear2.jpg');
}
.clear3 {
  background-image: url('../images/clear3.jpg');
}

.fog {
  background-image: url('../images/fog.jpg');
}

.thunderstorm {
  background-image: url('../images/thunderstorm.jpg');
}
.thunderstorm .temp{
  color: white;
}
.thunderstorm1 {
  background-image: url('../images/thunderstorm1.jpg');
}
.thunderstorm2 {
  background-image: url('../images/thunderstorm2.jpg');
}

.snow {
  background-image: url('../images/snow.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2));
}

.error-message {
  margin: 0px auto;
  padding: 50px;
  text-align: center;
}

.error-message h2 {
  color: white;
  font-size: 40px;
}

.error-message h3 {
  color: white;
  font-size: 30px;
  font-style: italic;
}

